.portfolio {
    animation: fadein 1s;
}

@keyframes fadein {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
}

.card-display {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.all-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.card-container {
    transition: 1s;
}

.card-container:hover {
    transform: scale(1.07);
}

.card-link {
    text-decoration: none;
}

.card-bg {
    width: 400px;
    height: 350px;
    border-radius: 10px 10px 30px 30px;
    /* background-image: linear-gradient(71deg, #121013, #560BAD, #121013); */
    background-image: linear-gradient(71deg, #121013, #C77DFF, #121013, #560BAD);
    padding: 2px;
    margin-bottom: 50px;
}

.card-body-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    width: 400px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 15px 15px 30px 30px;
    background-image: linear-gradient(71deg, #080509, #1a171c, #080509);
    /* border: solid 1px #FFF; */
}

.card-img {
    width: 400px;
    height: 193px;
    flex-shrink: 0;
    border-radius: 10px 10px 0px 0px;
    /* border-bottom: solid 2px #D9D9D9; */
}

.card-title {
    display: flex;
    justify-content: flex-start;
    /* width: 200px; */
    /* height: 25px; */
    margin-left: 20px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 300ms;
}

.card-title:hover {
    color: #C77DFF;
}

.card-technologies {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    /* width: 200px; */
    /* height: 159px; */
    flex-shrink: 0;
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
